


@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/nohemi/Nohemi-Thin.ttf') format('woff2-variations');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/nohemi/Nohemi-ExtraLight.ttf') format('woff2-variations');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/nohemi/Nohemi-Light.ttf') format('woff2-variations');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/nohemi/Nohemi-Regular.ttf') format('woff2-variations');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/nohemi/Nohemi-Medium.ttf') format('woff2-variations');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/nohemi/Nohemi-SemiBold.ttf') format('woff2-variations');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/nohemi/Nohemi-Bold.ttf') format('woff2-variations');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/nohemi/Nohemi-ExtraBold.ttf') format('woff2-variations');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/nohemi/Nohemi-Black.ttf') format('woff2-variations');
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-display: Nohemi, aspekta, inter, system-ui;
  --font-content: inter, system-ui;
}

.max-w-page {
  max-width: var(--mainColumnWidth);
}

@media screen and (max-width: 60rem) {
  :root {
    --mainColumnWidth: 100vw;
  }
}

:root {
  --jh-font-family-heading: akira, inter, system-ui;
  --jh-font-family-content: 'SourceSans3', inter, system-ui;

  --jh-color-egg-blue: #579ed7;
  --jh-color-egg-blue-brighter: #69afe8;
  --jh-color-gray-blue: #465969;
  --jh-color-gray-blue-brighter: #576e80;
  --jh-color-teal-blue: #2c343d;
  --jh-color-midnight-blue: #1e2227; /* from latest figma */
  --jh-color-midnight-blue-bg: #272a2e; /* button bg latest figma */
  --jh-color-midnight-blue-darker: #212327;
  --jh-color-midnight-blue-darkest: #191b1e; /* unused */

  --jh-color-power-blue: #465969;
  --jh-color-power-blue-brighter: #546b7d;
  --jh-color-power-blue-brightest: #5c7486;

  --jh-color-dove-white: #f2f3f5;
  --jh-color-salmon: #dd7e6b;
  --jh-color-subdued: #b5b6b8;
  --jh-color-subdued-brighter: #c0c2c4;
  --jh-color-subdued-brightest: #ccd1d5;

  /* --jh-color-bg: #1e2227; */

  --sideNavWidth: 15rem;
  --sideChatWidth: 15rem;
  --bottom-nav-height: 4rem;

  --radix-accordion-content-height: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-color: var(--rx-subdued);
}

html,
body {
  /* overflow-x: hidden; */
  color-scheme: light;
  line-height: 1.5;
  font-family: var(--font-content);
  max-width: 100%;
}

body {
  max-width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

hr {
  border-color: var(--rx-slate5);
}

/* STYLE SCROLL BARS  ================================================ */

/* for Firefox */
* {
  /* scrollbar-width: thin; */
  scrollbar-color: var(--jh-color-power-blue) transparent;
}

/* for the rest */
::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* The height is only seen on horizontal scrolling */
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 30px;
}

::-webkit-scrollbar-track:hover {
  background: hsl(0 0% 0% / 0.4);
  padding: 6px;
}

:root::-webkit-scrollbar-thumb {
  background-color: var(--jh-color-teal-blue);
}

:not(:root)::-webkit-scrollbar-thumb {
  background-color: var(--jh-color-teal-blue);
}
:not(:root):hover::-webkit-scrollbar-thumb {
  background-color: var(--jh-color-power-blue);
}

/* END OF SCROLL BARS  ================================================ */

:root {
  /*  BUTTON component variables */
  --button-border-color: transparent;
  --button-border-width: 2px;
  --button-background-color: transparent;
  --button-box-shadow: 0 0 0 0 transparent;
}

/* icons in ::before ::after ========================================================= */

/* for icons in ::beofer and ::after */
:root [class*='bf-i-']::before,
:root [class*=' bf-i-']::before,
:root [class*='af-i-']::after,
:root [class*=' af-i-']::after {
  content: '\0020 \2003 \2009 \0020';
  /* 
   \2003 is em space. It provide the icon 1em width. With this we don't need to turn ::before and ::after to inline-block to apply width. Also, we don't need to deal with side effects of inline-block anymore, such as height, vertical-alignment and scale.
   
   \2009 this is 0.2em space. It is there to ensure we have enough space and icons don't get cut off horizentally. Icons never get cut off vertically as they are display: inline.

  \0020 is a whitespace. 
  Spaces at start of end of each elements are removed by browser.
  These spaces work only when icon is followed or preceded by text or other elements. 
  So automatically manages space. even if it handles properly siblings that are sr-only;
  */

  /* modyfining some of rules applied by unocss-icon-preset   */
  /* -webkit-mask: initial; */
  /* mask: initial; */
  -webkit-mask-image: var(--un-icon);
  mask-image: var(--un-icon);

  /* -webkit-mask-size: auto; */ /*  makes a bug in WebKit and Safari  */
  /* mask-size: auto; */ /* makes a bug in WebKit and safari */

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  /* max-height: 1em; */

  -webkit-mask-position-y: center;
  mask-position-y: center;

  font-size: inherit;
  background-color: currentColor;
  color: inherit;
  opacity: 0.7;

  /* align vertically (specific to Aspekta font) */
  /* vertical-align: -0.25em;  */
}

:root [class*='af-i-']::after,
:root [class*=' af-i-']::after {
  /* align icon to the right so there is space between text and icon. But also perfectly center when there is no sibling.  */
  -webkit-mask-position-x: right;
  mask-position-x: right;
}

/* END of ::after ::before icons  ==================================== */

/* ================================================================ */
/* Table Styles */

.tr-after {
  position: relative;
  isolation: isolate;
}
.tr-after::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 0.5rem;
  /* background: linear-gradient(145deg, #1b1f23, #20242a); */
  box-shadow: 0.25rem 0.25rem 0.375rem #14171a, -0.25rem -0.25rem 0.375rem #282d34, 0.3125rem 0.3125rem 0.625rem #14171a,
    -0.3125rem -0.3125rem 0.625rem #282d34;
  z-index: -1;
}

/*  DEV helper classes ============================================ */

.\?\?\? {
  outline: 3px solid rgba(255, 0, 195, 0.237);
  outline-offset: -1px;
}

.\?\?\?\? {
  outline: 2px dashed rgba(0, 229, 255, 0.345);
  outline-offset: -1px;
}

.\?\?\?\?\? {
  outline: 2px dotted rgba(255, 251, 0, 0.237);
  outline-offset: -1px;
}

.\?\?\?\?\?\? {
  outline: 2px dotted rgba(0, 255, 4, 0.237);
  outline-offset: -1px;
}

/* ============================================================ */

/* Invenotry Card Hover Layer */

.inventory-card .inventory-card_hover-layer {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.inventory-card:hover .inventory-card_hover-layer {
  opacity: 1;
  pointer-events: all;
}

/* end of Inventory card  */

details summary::before {
  transition: transform 250ms ease-in-out;
}
details[open] summary::before {
  --un-rotate: 90deg;
}
/* =================== */
